@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: black;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: black;
}

h4 {
  font-size: 20px;
  color: black;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: black;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}




/* header start */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;

}

.logo {
  height: 5rem;
  width: 5em;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  transition: 0.3s ease;
}
#navbar li a:hover, 
#navbar li a.active {
  color: #fee500;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #fee500;
  position: absolute;
  bottom: -4px;
  left: 20px;
} 

#mobile {
  display: none;
  align-items: center;
}

#mobile i {
  color: white;
}

#close {
  display: none;
}

/* Home Page */
#hero {
  background-image: url(images/hero.JPG);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
  color: white;
}

#hero h2 {
  color: white;
}

#hero h1 {
  color: #fee500;
}

#hero p {
  color: white;
}

#hero button {
  background-color: white;
  color: black;
  border: 0;
  padding: 14px 50px 14px 50px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  border: 1px solid silver;
  border-radius: 2%;
}

#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#feature img {
  height: 6rem;
  width: 6rem;
}

#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.06);
  border: 1px solid silver;
  border-radius: 2px;
  margin: 15px 0;
}

#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);  
}

#feature .fe-box h6 {
  display: inline-block;
  padding: 15px 8px 8px 8px;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1  .pro{
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid silver;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1  .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 2%;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5{
  padding-top: 7px;
  color: black;
  font-size: 14px;
}

#product1 .pro .des i{
  color: #fee500;
  font-size: 12px;
}

#product1 .pro .des h4{
  color: #007b3a;
  font-size: 15px;
  font-weight: 700;
  padding-top: 7px;
}

#product1 .pro .cart{
  width: 30px;
  height: 30px;
  line-height: 25px;
  border-radius: 500px;
  background-color: rgb(50, 50, 50);
  font-weight: 500;
  color: white;
  border: 1px solid silver;
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 1px 5px 1px 5px;
}

#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/banner.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner h4 {
  color: white;
  font-size: 16px;
}

#banner h2 {
  color: white;
  font-size: 30px;
  padding: 10px 0;
}

#banner h2 span{
  color: #fee500;
}

#banner button:hover {
  background: #fee500;
  color: black;
}

#sm-banner {
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(images/mb4.jpg);
  width: 540px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

#sm-banner .banner-box2 {
  background-image: url(images/mb1.jpg);
}

#sm-banner h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

#sm-banner h2 {
  color: white;
  font-size: 30px;
  font-weight: 900;
}

#sm-banner span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background: #fee500;
  border: 1px solid #fee500;
}

#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px 20px;
}

#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/b7.jpg);
  width: 32%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-top: 20px;
}

#banner3 .banner-box2 {
  background-image: url(img/banner/b4.jpg);
}

#banner3 .banner-box3 {
  background-image: url(img/banner/b18.jpg);
}

#banner3 h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
}

#banner3 h3 {
  color: rgb(255, 213, 0);
  font-weight: 800;
  font-size: 15px;
}

#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #fee500;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: black;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #606063;
}

#newsletter p span {
  color: black;
  font-weight: 700;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.125rem;
  padding: 1rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;

}
#newsletter button {
  background-color: #606063;
  color: white;
  white-space: nowrap;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .logo {
  width: 6rem;
  height: 6rem;
  margin-bottom: 4rem;
}

footer h4 {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
}

footer p {
  font-size: 13px;
  margin: 10px 0 4px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: black;
  margin: 0 0 8px 0;
}

footer .follow {
  margin-top: 10px;
} 

footer .follow i {
  color: #606063;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #fee500;
  border-radius: 6px;
}

footer .install img {
  margin: 5px 0 5px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #fee500;
}

footer .copyright {
  width: 100%;
  text-align: center;
}


/* Pagina Tienda */

#page-header {
  background-image: url(img/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header h2,
#page-header p {
  color: white;
}

#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background-color: black;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

#prodetails {
  display: flex;
  margin-top: 20px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
}

#prodetails .single-pro-details select {
  display: block;
  width: 30%;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details button {
  background: black;
  color: white;
}

#prodetails .single-pro-details span {
  line-height: 25px;
}

#prodetails .single-pro-details p {
  text-align: justify;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

/* Pagina Carrito */

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #606063;
  border-left: none;
  border-right: none;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

#cupon {
  width: 50%;
  margin-bottom: 30px;
}

#cupon h3,
#subtotal h3 {
  padding-bottom: 13px;
}

#cupon input {
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #606063;
}

#cupon button,
#subtotal button {
  background-color: black;
  color: white;
  padding: 12px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #606063;
  padding: 30px;
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #606063;
  padding: 10px;
  font-size: 13px;
}


/* Comienzo Media Query */

@media (max-width:912px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: black; 
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i {
    color: white;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-size: 24px;
  }

  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }

  #feature {
    justify-content: center;
  }

  #feature .fe-box {
    margin: 15px 15px;
  }

  #product1 .pro-container {
    justify-content: center;
  }

  #product1 .pro {
    margin: 15px;
  }

  #banner {
    height: 50vh;
  }

  #sm-banner .banner-box {
    width: 100%;
    height: 30vh;
    margin-top: 20px;
  }

  #banner3 {
    padding: 0 40px;
    margin-bottom: 60px;
  }

  #banner3 .banner-box {
    width: 31%;
  }

  #newsletter .form {
    width: 70%;
  }

}

@media (max-width: 477px){

  .section-p1 {
    padding: 20px;
  }

  #header{
    padding: 10px 30px;
  }

  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 32px;
  }

  #hero {
    padding: 0 20px;
    background-position: 55%;
  }

  #feature {
    justify-content: space-between;
  }

  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }

  #product1 .pro {
    width: 100%;
  }

  #sm-banner .banner-box {
    height: 40vh;
  }

  #sm-banner .banner-box2 {
    margin-top: 20px;
  }

  #banner3 {
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 100%;
  }

  #newsletter {
    padding: 40px 20px;
  }

  #newsletter .form {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }

  /* Producto Individual */

  #prodetails {
    display: flex;
    flex-direction: column;
  }

  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }

  #prodetails .single-pro-details {
    width: 100%;
  }
}


/* Formulario Cuenta */
#formuser input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#formuser input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#formuser input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#formuser input[type=submit]:hover {
  background-color: #45a049;
}

#formuser div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}



/* --------- */

a{
  cursor:pointer;
}
.alerta{
  font-weight:700;
}
.modal-contenedor{
  display:flex;
  align-items: center;
  gap:2rem;
}
.img-carrito{
  width:200px;
  padding:20px;
} 
.modal-content{
  background-color: #E3D8D6;
}
.parrafo{
  font-weight: 900;
  font-style: italic;
}
#precioTotal{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
.boton{
  opacity:0;
}

/* Botones de Pago */

.autoPago {
  margin: 0 auto;
}

@media screen and (max-width: 400px) {
  #paypal-button-container {
      width: 100%;
  }
}

@media screen and (min-width: 400px) {
  #paypal-button-container {
      width: 250px;
  }
}

#google-pay-button {
  width: 300px;
  height: 75px;
  margin: 0 auto;
}

.googlepay {
  background-color: #000;
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2241%22%20height%3D%2217%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M19.526%202.635v4.083h2.518c.6%200%201.096-.202%201.488-.605.403-.402.605-.882.605-1.437%200-.544-.202-1.018-.605-1.422-.392-.413-.888-.62-1.488-.62h-2.518zm0%205.52v4.736h-1.504V1.198h3.99c1.013%200%201.873.337%202.582%201.012.72.675%201.08%201.497%201.08%202.466%200%20.991-.36%201.819-1.08%202.482-.697.665-1.559.996-2.583.996h-2.485v.001zm7.668%202.287c0%20.392.166.718.499.98.332.26.722.391%201.168.391.633%200%201.196-.234%201.692-.701.497-.469.744-1.019.744-1.65-.469-.37-1.123-.555-1.962-.555-.61%200-1.12.148-1.528.442-.409.294-.613.657-.613%201.093m1.946-5.815c1.112%200%201.989.297%202.633.89.642.594.964%201.408.964%202.442v4.932h-1.439v-1.11h-.065c-.622.914-1.45%201.372-2.486%201.372-.882%200-1.621-.262-2.215-.784-.594-.523-.891-1.176-.891-1.96%200-.828.313-1.486.94-1.976s1.463-.735%202.51-.735c.892%200%201.629.163%202.206.49v-.344c0-.522-.207-.966-.621-1.33a2.132%202.132%200%200%200-1.455-.547c-.84%200-1.504.353-1.995%201.062l-1.324-.834c.73-1.045%201.81-1.568%203.238-1.568m11.853.262l-5.02%2011.53H34.42l1.864-4.034-3.302-7.496h1.635l2.387%205.749h.032l2.322-5.75z%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20d%3D%22M13.448%207.134c0-.473-.04-.93-.116-1.366H6.988v2.588h3.634a3.11%203.11%200%200%201-1.344%202.042v1.68h2.169c1.27-1.17%202.001-2.9%202.001-4.944%22%20fill%3D%22%234285F4%22%2F%3E%3Cpath%20d%3D%22M6.988%2013.7c1.816%200%203.344-.595%204.459-1.621l-2.169-1.681c-.603.406-1.38.643-2.29.643-1.754%200-3.244-1.182-3.776-2.774H.978v1.731a6.728%206.728%200%200%200%206.01%203.703%22%20fill%3D%22%2334A853%22%2F%3E%3Cpath%20d%3D%22M3.212%208.267a4.034%204.034%200%200%201%200-2.572V3.964H.978A6.678%206.678%200%200%200%20.261%206.98c0%201.085.26%202.11.717%203.017l2.234-1.731z%22%20fill%3D%22%23FABB05%22%2F%3E%3Cpath%20d%3D%22M6.988%202.921c.992%200%201.88.34%202.58%201.008v.001l1.92-1.918C10.324.928%208.804.262%206.989.262a6.728%206.728%200%200%200-6.01%203.702l2.234%201.731c.532-1.592%202.022-2.774%203.776-2.774%22%20fill%3D%22%23E94235%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.30), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  outline: 0;
  padding: 11px 24px;

  width: 160px;
  min-width: 90px;
  height: 40px;
  min-height: 40px;
}

.googlepay.long {
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22103%22%20height%3D%2217%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M.148%202.976h3.766c.532%200%201.024.117%201.477.35.453.233.814.555%201.085.966.27.41.406.863.406%201.358%200%20.495-.124.924-.371%201.288s-.572.64-.973.826v.084c.504.177.912.471%201.225.882.313.41.469.891.469%201.442a2.6%202.6%200%200%201-.427%201.47c-.285.43-.667.763-1.148%201.001A3.5%203.5%200%200%201%204.082%2013H.148V2.976zm3.696%204.2c.448%200%20.81-.14%201.085-.42.275-.28.413-.602.413-.966s-.133-.684-.399-.959c-.266-.275-.614-.413-1.043-.413H1.716v2.758h2.128zm.238%204.368c.476%200%20.856-.15%201.141-.448.285-.299.427-.644.427-1.036%200-.401-.147-.749-.441-1.043-.294-.294-.688-.441-1.183-.441h-2.31v2.968h2.366zm5.379.903c-.453-.518-.679-1.239-.679-2.163V5.86h1.54v4.214c0%20.579.138%201.013.413%201.302.275.29.637.434%201.085.434.364%200%20.686-.096.966-.287.28-.191.495-.446.644-.763a2.37%202.37%200%200%200%20.224-1.022V5.86h1.54V13h-1.456v-.924h-.084c-.196.336-.5.611-.91.826-.41.215-.845.322-1.302.322-.868%200-1.528-.259-1.981-.777zm9.859.161L16.352%205.86h1.722l2.016%204.858h.056l1.96-4.858H23.8l-4.41%2010.164h-1.624l1.554-3.416zm8.266-6.748h1.666l1.442%205.11h.056l1.61-5.11h1.582l1.596%205.11h.056l1.442-5.11h1.638L36.392%2013h-1.624L33.13%207.876h-.042L31.464%2013h-1.596l-2.282-7.14zm12.379-1.337a1%201%200%200%201-.301-.735%201%201%200%200%201%20.301-.735%201%201%200%200%201%20.735-.301%201%201%200%200%201%20.735.301%201%201%200%200%201%20.301.735%201%201%200%200%201-.301.735%201%201%200%200%201-.735.301%201%201%200%200%201-.735-.301zM39.93%205.86h1.54V13h-1.54V5.86zm5.568%207.098a1.967%201.967%200%200%201-.686-.406c-.401-.401-.602-.947-.602-1.638V7.218h-1.246V5.86h1.246V3.844h1.54V5.86h1.736v1.358H45.75v3.36c0%20.383.075.653.224.812.14.187.383.28.728.28.159%200%20.299-.021.42-.063.121-.042.252-.11.392-.203v1.498c-.308.14-.681.21-1.12.21-.317%200-.616-.051-.896-.154zm3.678-9.982h1.54v2.73l-.07%201.092h.07c.205-.336.511-.614.917-.833.406-.22.842-.329%201.309-.329.868%200%201.53.254%201.988.763.457.509.686%201.202.686%202.079V13h-1.54V8.688c0-.541-.142-.947-.427-1.218-.285-.27-.656-.406-1.113-.406-.345%200-.656.098-.931.294a2.042%202.042%200%200%200-.651.777%202.297%202.297%200%200%200-.238%201.029V13h-1.54V2.976zm32.35-.341v4.083h2.518c.6%200%201.096-.202%201.488-.605.403-.402.605-.882.605-1.437%200-.544-.202-1.018-.605-1.422-.392-.413-.888-.62-1.488-.62h-2.518zm0%205.52v4.736h-1.504V1.198h3.99c1.013%200%201.873.337%202.582%201.012.72.675%201.08%201.497%201.08%202.466%200%20.991-.36%201.819-1.08%202.482-.697.665-1.559.996-2.583.996h-2.485v.001zm7.668%202.287c0%20.392.166.718.499.98.332.26.722.391%201.168.391.633%200%201.196-.234%201.692-.701.497-.469.744-1.019.744-1.65-.469-.37-1.123-.555-1.962-.555-.61%200-1.12.148-1.528.442-.409.294-.613.657-.613%201.093m1.946-5.815c1.112%200%201.989.297%202.633.89.642.594.964%201.408.964%202.442v4.932h-1.439v-1.11h-.065c-.622.914-1.45%201.372-2.486%201.372-.882%200-1.621-.262-2.215-.784-.594-.523-.891-1.176-.891-1.96%200-.828.313-1.486.94-1.976s1.463-.735%202.51-.735c.892%200%201.629.163%202.206.49v-.344c0-.522-.207-.966-.621-1.33a2.132%202.132%200%200%200-1.455-.547c-.84%200-1.504.353-1.995%201.062l-1.324-.834c.73-1.045%201.81-1.568%203.238-1.568m11.853.262l-5.02%2011.53H96.42l1.864-4.034-3.302-7.496h1.635l2.387%205.749h.032l2.322-5.75z%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20d%3D%22M75.448%207.134c0-.473-.04-.93-.116-1.366h-6.344v2.588h3.634a3.11%203.11%200%200%201-1.344%202.042v1.68h2.169c1.27-1.17%202.001-2.9%202.001-4.944%22%20fill%3D%22%234285F4%22%2F%3E%3Cpath%20d%3D%22M68.988%2013.7c1.816%200%203.344-.595%204.459-1.621l-2.169-1.681c-.603.406-1.38.643-2.29.643-1.754%200-3.244-1.182-3.776-2.774h-2.234v1.731a6.728%206.728%200%200%200%206.01%203.703%22%20fill%3D%22%2334A853%22%2F%3E%3Cpath%20d%3D%22M65.212%208.267a4.034%204.034%200%200%201%200-2.572V3.964h-2.234a6.678%206.678%200%200%200-.717%203.017c0%201.085.26%202.11.717%203.017l2.234-1.731z%22%20fill%3D%22%23FABB05%22%2F%3E%3Cpath%20d%3D%22M68.988%202.921c.992%200%201.88.34%202.58%201.008v.001l1.92-1.918c-1.165-1.084-2.685-1.75-4.5-1.75a6.728%206.728%200%200%200-6.01%203.702l2.234%201.731c.532-1.592%202.022-2.774%203.776-2.774%22%20fill%3D%22%23E94235%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  width: 240px;
  min-width: 151px;
  
}

.googlepay:hover {
  background-color: #3c4043;
}

.googlepay:focus {
  box-shadow: #202124;
}

.googlepay:active {
  background-color: #5f6368;
}

[lang=es] .googlepay.long {
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22133%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M3.22%2011.538a4.968%204.968%200%200%201-1.89-1.89%205.279%205.279%200%200%201-.686-2.66c0-.97.229-1.857.686-2.66a4.968%204.968%200%200%201%201.89-1.89%205.279%205.279%200%200%201%202.66-.686c.756%200%201.444.14%202.065.42.62.28%201.169.686%201.645%201.218L8.47%204.468a3.45%203.45%200%200%200-1.148-.917c-.42-.2-.9-.301-1.442-.301a3.73%203.73%200%200%200-1.841.462%203.428%203.428%200%200%200-1.323%201.309c-.327.565-.49%201.22-.49%201.967%200%20.747.163%201.402.49%201.967a3.428%203.428%200%200%200%201.323%201.309%203.732%203.732%200%200%200%201.841.462c1.12%200%202.072-.467%202.856-1.4l1.134%201.092a5.105%205.105%200%200%201-1.75%201.33%205.24%205.24%200%200%201-2.24.476c-.97%200-1.857-.229-2.66-.686zm9.432.189a3.495%203.495%200%200%201-1.33-1.365%203.95%203.95%200%200%201-.476-1.932c0-.71.159-1.353.476-1.932a3.495%203.495%200%200%201%201.33-1.365c.57-.331%201.213-.497%201.932-.497.719%200%201.363.168%201.932.504.57.336%201.013.793%201.33%201.372.317.579.476%201.218.476%201.918a3.95%203.95%200%200%201-.476%201.932%203.495%203.495%200%200%201-1.33%201.365c-.57.331-1.213.497-1.932.497-.719%200-1.363-.166-1.932-.497zm3.024-1.204a2.11%202.11%200%200%200%20.805-.826c.2-.36.301-.782.301-1.267%200-.485-.1-.905-.301-1.26a2.122%202.122%200%200%200-.805-.819%202.17%202.17%200%200%200-1.092-.287%202.17%202.17%200%200%200-1.092.287%202.122%202.122%200%200%200-.805.819c-.2.355-.301.775-.301%201.26s.1.908.301%201.267c.2.36.469.635.805.826.336.191.7.287%201.092.287a2.17%202.17%200%200%200%201.092-.287zm4.07-5.663h1.47v.938h.07a2.41%202.41%200%200%201%20.91-.84%202.583%202.583%200%200%201%201.26-.322c.513%200%20.961.119%201.344.357.383.238.658.553.826.945.243-.392.567-.707.973-.945s.884-.357%201.435-.357c.821%200%201.444.25%201.869.749.425.5.637%201.178.637%202.037V12H29V7.688c0-1.083-.462-1.624-1.386-1.624-.495%200-.9.2-1.218.602-.317.401-.476.896-.476%201.484V12h-1.54V7.688c0-1.083-.476-1.624-1.428-1.624-.485%200-.884.2-1.197.602-.313.401-.469.896-.469%201.484V12h-1.54V4.86zm12.638%200h1.47v.938h.07c.205-.327.509-.602.91-.826a2.738%202.738%200%200%201%201.358-.336c.644%200%201.227.163%201.75.49.523.327.936.777%201.239%201.351.303.574.455%201.225.455%201.953s-.152%201.379-.455%201.953a3.467%203.467%200%200%201-1.239%201.351%203.235%203.235%200%200%201-1.75.49c-.504%200-.957-.112-1.358-.336-.401-.224-.705-.495-.91-.812h-.07l.07.994v2.954h-1.54V4.86zm4.634%205.656a2.13%202.13%200%200%200%20.784-.84c.196-.364.294-.78.294-1.246%200-.467-.098-.88-.294-1.239a2.144%202.144%200%200%200-.784-.833%202.006%202.006%200%200%200-2.093%200%202.162%202.162%200%200%200-.777.833c-.196.36-.294.772-.294%201.239%200%20.467.098.882.294%201.246.196.364.455.644.777.84a2.006%202.006%200%200%200%202.093%200zm4.098-5.656h1.47v1.05h.07c.159-.364.434-.665.826-.903a2.362%202.362%200%200%201%201.246-.357c.345%200%20.635.047.868.14v1.596c-.41-.15-.78-.224-1.106-.224-.355%200-.67.093-.945.28a1.955%201.955%200%200%200-.651.749%202.24%202.24%200%200%200-.238%201.029V12h-1.54V4.86zm6.422%207.063a2.247%202.247%200%200%201-.938-.854%202.365%202.365%200%200%201-.336-1.253c0-.737.278-1.32.833-1.75.555-.43%201.258-.644%202.107-.644.42%200%20.798.04%201.134.119.336.08.602.166.798.259v-.364c0-.439-.163-.796-.49-1.071-.327-.275-.747-.413-1.26-.413-.364%200-.707.08-1.029.238a2.018%202.018%200%200%200-.777.658l-1.078-.826c.317-.439.728-.78%201.232-1.022a3.822%203.822%200%200%201%201.68-.364c1.036%200%201.834.254%202.394.763s.84%201.225.84%202.149V12h-1.512v-.854h-.07a2.416%202.416%200%200%201-.868.77%202.629%202.629%200%200%201-1.288.308c-.513%200-.97-.1-1.372-.301zm2.646-1.239a1.938%201.938%200%200%200%20.952-1.68%203.134%203.134%200%200%200-.749-.294%203.49%203.49%200%200%200-.889-.112c-.579%200-1.003.114-1.274.343a1.11%201.11%200%200%200-.406.889c0%20.327.126.595.378.805.252.21.579.315.98.315.373%200%20.71-.089%201.008-.266zm4.294-5.824h1.47v1.05h.07c.159-.364.434-.665.826-.903a2.362%202.362%200%200%201%201.246-.357c.345%200%20.635.047.868.14v1.596c-.41-.15-.78-.224-1.106-.224-.355%200-.67.093-.945.28a1.955%201.955%200%200%200-.651.749%202.24%202.24%200%200%200-.238%201.029V12h-1.54V4.86zm10.625%206.874a3.424%203.424%200%200%201-1.316-1.351c-.313-.574-.469-1.225-.469-1.953s.156-1.379.469-1.953a3.424%203.424%200%200%201%201.316-1.351c.565-.327%201.202-.49%201.911-.49.784%200%201.451.177%202.002.532.55.355.943.835%201.176%201.442l-1.414.588c-.317-.756-.92-1.134-1.806-1.134-.383%200-.735.098-1.057.294a2.112%202.112%200%200%200-.77.833c-.191.36-.287.772-.287%201.239%200%20.467.096.882.287%201.246a2.1%202.1%200%200%200%20.77.84c.322.196.674.294%201.057.294.448%200%20.833-.1%201.155-.301.322-.2.567-.488.735-.861l1.386.602a3.255%203.255%200%200%201-1.232%201.442c-.55.355-1.218.532-2.002.532-.71%200-1.346-.163-1.911-.49zm7.955-.007a3.495%203.495%200%200%201-1.33-1.365%203.95%203.95%200%200%201-.476-1.932c0-.71.159-1.353.476-1.932a3.495%203.495%200%200%201%201.33-1.365c.57-.331%201.213-.497%201.932-.497.719%200%201.363.168%201.932.504.57.336%201.013.793%201.33%201.372.317.579.476%201.218.476%201.918a3.95%203.95%200%200%201-.476%201.932%203.495%203.495%200%200%201-1.33%201.365c-.57.331-1.213.497-1.932.497-.719%200-1.363-.166-1.932-.497zm3.024-1.204a2.11%202.11%200%200%200%20.805-.826c.2-.36.301-.782.301-1.267%200-.485-.1-.905-.301-1.26a2.122%202.122%200%200%200-.805-.819%202.17%202.17%200%200%200-1.092-.287%202.17%202.17%200%200%200-1.092.287%202.122%202.122%200%200%200-.805.819c-.2.355-.301.775-.301%201.26s.1.908.301%201.267c.2.36.469.635.805.826.336.191.7.287%201.092.287a2.17%202.17%200%200%200%201.092-.287zm4.07-5.663h1.47v.938h.07c.205-.336.511-.614.917-.833.406-.22.838-.329%201.295-.329.868%200%201.528.254%201.981.763.453.509.679%201.202.679%202.079V12h-1.54V7.688c0-.56-.138-.97-.413-1.232-.275-.261-.656-.392-1.141-.392-.345%200-.653.096-.924.287a1.91%201.91%200%200%200-.63.763%202.37%202.37%200%200%200-.224%201.022V12h-1.54V4.86zm32.289-2.372v3.857h2.378c.567%200%201.035-.19%201.406-.572.38-.38.57-.832.57-1.357%200-.514-.19-.962-.57-1.342-.37-.39-.84-.586-1.406-.586h-2.378zm0%205.214v4.473h-1.42V1.131h3.767c.958%200%201.77.32%202.44.956.68.638%201.02%201.414%201.02%202.33%200%20.935-.34%201.717-1.02%202.344-.659.627-1.473.94-2.44.94h-2.347v.001zm7.242%202.159c0%20.37.157.68.471.926.314.247.682.37%201.104.37.597%200%201.13-.221%201.598-.663.469-.442.702-.961.702-1.557-.443-.35-1.06-.525-1.853-.525-.577%200-1.058.14-1.443.417-.386.278-.58.62-.58%201.032m1.839-5.49c1.05%200%201.878.28%202.486.84.608.56.911%201.33.911%202.306v4.658h-1.359v-1.049h-.062c-.586.864-1.37%201.296-2.347%201.296-.834%200-1.531-.247-2.092-.74-.561-.494-.842-1.111-.842-1.851%200-.782.296-1.404.888-1.866.592-.463%201.382-.695%202.37-.695.844%200%201.539.154%202.084.463v-.324c0-.494-.196-.913-.586-1.257a2.013%202.013%200%200%200-1.374-.517c-.794%200-1.42.334-1.884%201.003l-1.251-.787c.69-.987%201.709-1.48%203.058-1.48m11.195.246l-4.741%2010.89h-1.467l1.76-3.81-3.119-7.08h1.544l2.255%205.43h.03l2.193-5.43z%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20d%3D%22M106.7%206.738c0-.447-.037-.878-.109-1.29h-5.99v2.444h3.43a2.938%202.938%200%200%201-1.268%201.928v1.588h2.048c1.199-1.106%201.89-2.74%201.89-4.67%22%20fill%3D%22%234285F4%22%2F%3E%3Cpath%20d%3D%22M100.6%2012.94c1.715%200%203.158-.563%204.21-1.532l-2.047-1.588c-.57.383-1.304.607-2.163.607-1.657%200-3.064-1.116-3.566-2.62h-2.11v1.636a6.354%206.354%200%200%200%205.676%203.496%22%20fill%3D%22%2334A853%22%2F%3E%3Cpath%20d%3D%22M97.034%207.808a3.81%203.81%200%200%201%200-2.43V3.745h-2.11a6.307%206.307%200%200%200-.677%202.85%206.3%206.3%200%200%200%20.677%202.849l2.11-1.635z%22%20fill%3D%22%23FABB05%22%2F%3E%3Cpath%20d%3D%22M100.6%202.759c.936%200%201.775.322%202.437.952l1.814-1.81C103.749.875%20102.314.246%20100.6.246a6.354%206.354%200%200%200-5.677%203.497l2.11%201.635c.502-1.504%201.909-2.62%203.566-2.62%22%20fill%3D%22%23E94235%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  min-width: 181px;
}

[lang=fr] .googlepay.long {
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22134%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M3.976%201.976h1.792L9.534%2012H7.798l-.896-2.562H2.856L1.946%2012H.21L3.976%201.976zM6.37%207.982L5.306%205l-.392-1.162H4.83L4.438%205%203.374%207.982H6.37zm5.603%203.752a3.424%203.424%200%200%201-1.316-1.351c-.313-.574-.469-1.225-.469-1.953s.156-1.379.469-1.953a3.424%203.424%200%200%201%201.316-1.351c.565-.327%201.202-.49%201.911-.49.784%200%201.451.177%202.002.532.55.355.943.835%201.176%201.442l-1.414.588c-.317-.756-.92-1.134-1.806-1.134-.383%200-.735.098-1.057.294a2.112%202.112%200%200%200-.77.833c-.191.36-.287.772-.287%201.239%200%20.467.096.882.287%201.246a2.1%202.1%200%200%200%20.77.84c.322.196.674.294%201.057.294.448%200%20.833-.1%201.155-.301.322-.2.567-.488.735-.861l1.386.602a3.255%203.255%200%200%201-1.232%201.442c-.55.355-1.218.532-2.002.532-.71%200-1.346-.163-1.911-.49zm6.611-9.758h1.54v2.73l-.07%201.092h.07c.205-.336.511-.614.917-.833.406-.22.842-.329%201.309-.329.868%200%201.53.254%201.988.763.457.509.686%201.202.686%202.079V12h-1.54V7.688c0-.541-.142-.947-.427-1.218-.285-.27-.656-.406-1.113-.406-.345%200-.656.098-.931.294a2.042%202.042%200%200%200-.651.777%202.297%202.297%200%200%200-.238%201.029V12h-1.54V1.976zm9.719%209.758a3.453%203.453%200%200%201-1.302-1.351c-.313-.574-.469-1.22-.469-1.939%200-.681.152-1.314.455-1.897a3.578%203.578%200%200%201%201.267-1.393c.541-.345%201.157-.518%201.848-.518.719%200%201.342.159%201.869.476.527.317.929.751%201.204%201.302.275.55.413%201.171.413%201.862%200%20.13-.014.294-.042.49h-5.474c.056.663.292%201.174.707%201.533.415.36.898.539%201.449.539.439%200%20.819-.1%201.141-.301.322-.2.581-.474.777-.819l1.302.616a3.836%203.836%200%200%201-1.316%201.386c-.541.336-1.19.504-1.946.504-.7%200-1.328-.163-1.883-.49zM32.02%207.59a1.78%201.78%200%200%200-.238-.749%201.703%201.703%200%200%200-.637-.623c-.285-.168-.632-.252-1.043-.252-.495%200-.912.147-1.253.441-.34.294-.576.688-.707%201.183h3.878zm4.938%204.368a1.967%201.967%200%200%201-.686-.406c-.401-.401-.602-.947-.602-1.638V6.218h-1.246V4.86h1.246V2.844h1.54V4.86h1.736v1.358H37.21v3.36c0%20.383.075.653.224.812.14.187.383.28.728.28.159%200%20.299-.021.42-.063.121-.042.252-.11.392-.203v1.498c-.308.14-.681.21-1.12.21-.317%200-.616-.051-.896-.154zm4.707-.224a3.453%203.453%200%200%201-1.302-1.351c-.313-.574-.469-1.22-.469-1.939%200-.681.152-1.314.455-1.897a3.578%203.578%200%200%201%201.267-1.393c.541-.345%201.157-.518%201.848-.518.719%200%201.342.159%201.869.476.527.317.929.751%201.204%201.302.275.55.413%201.171.413%201.862%200%20.13-.014.294-.042.49h-5.474c.056.663.292%201.174.707%201.533.415.36.898.539%201.449.539.439%200%20.819-.1%201.141-.301.322-.2.581-.474.777-.819l1.302.616a3.836%203.836%200%200%201-1.316%201.386c-.541.336-1.19.504-1.946.504-.7%200-1.328-.163-1.883-.49zm3.717-4.144a1.78%201.78%200%200%200-.238-.749%201.703%201.703%200%200%200-.637-.623c-.285-.168-.632-.252-1.043-.252-.495%200-.912.147-1.253.441-.34.294-.576.688-.707%201.183h3.878zM48.5%204.86h1.47v1.05h.07c.159-.364.434-.665.826-.903a2.362%202.362%200%200%201%201.246-.357c.345%200%20.635.047.868.14v1.596c-.41-.15-.78-.224-1.106-.224-.355%200-.67.093-.945.28a1.955%201.955%200%200%200-.651.749%202.24%202.24%200%200%200-.238%201.029V12H48.5V4.86zm10.1%207.063a2.247%202.247%200%200%201-.938-.854%202.365%202.365%200%200%201-.336-1.253c0-.737.278-1.32.833-1.75.555-.43%201.258-.644%202.107-.644.42%200%20.798.04%201.134.119.336.08.602.166.798.259v-.364c0-.439-.163-.796-.49-1.071-.327-.275-.747-.413-1.26-.413-.364%200-.707.08-1.029.238a2.018%202.018%200%200%200-.777.658l-1.078-.826c.317-.439.728-.78%201.232-1.022a3.822%203.822%200%200%201%201.68-.364c1.036%200%201.834.254%202.394.763s.84%201.225.84%202.149V12h-1.512v-.854h-.07a2.416%202.416%200%200%201-.868.77%202.629%202.629%200%200%201-1.288.308c-.513%200-.97-.1-1.372-.301zm2.646-1.239a1.938%201.938%200%200%200%20.952-1.68%203.134%203.134%200%200%200-.749-.294%203.49%203.49%200%200%200-.889-.112c-.579%200-1.003.114-1.274.343a1.11%201.11%200%200%200-.406.889c0%20.327.126.595.378.805.252.21.579.315.98.315.373%200%20.71-.089%201.008-.266zm3.356-5.824h1.722l1.974%205.152h.056L70.37%204.86h1.68L69.082%2012h-1.54l-2.94-7.14zm9.761%206.874a3.453%203.453%200%200%201-1.302-1.351c-.313-.574-.469-1.22-.469-1.939%200-.681.152-1.314.455-1.897a3.578%203.578%200%200%201%201.267-1.393c.541-.345%201.157-.518%201.848-.518.719%200%201.342.159%201.869.476.527.317.929.751%201.204%201.302.275.55.413%201.171.413%201.862%200%20.13-.014.294-.042.49h-5.474c.056.663.292%201.174.707%201.533.415.36.898.539%201.449.539.439%200%20.819-.1%201.141-.301.322-.2.581-.474.777-.819l1.302.616a3.836%203.836%200%200%201-1.316%201.386c-.541.336-1.19.504-1.946.504-.7%200-1.328-.163-1.883-.49zM78.08%207.59a1.78%201.78%200%200%200-.238-.749%201.703%201.703%200%200%200-.637-.623c-.285-.168-.632-.252-1.043-.252-.495%200-.912.147-1.253.441-.34.294-.576.688-.707%201.183h3.878zm4.581%204.144a3.424%203.424%200%200%201-1.316-1.351c-.313-.574-.469-1.225-.469-1.953s.156-1.379.469-1.953a3.424%203.424%200%200%201%201.316-1.351c.565-.327%201.202-.49%201.911-.49.784%200%201.451.177%202.002.532.55.355.943.835%201.176%201.442l-1.414.588c-.317-.756-.92-1.134-1.806-1.134-.383%200-.735.098-1.057.294a2.112%202.112%200%200%200-.77.833c-.191.36-.287.772-.287%201.239%200%20.467.096.882.287%201.246a2.1%202.1%200%200%200%20.77.84c.322.196.674.294%201.057.294.448%200%20.833-.1%201.155-.301.322-.2.567-.488.735-.861l1.386.602a3.255%203.255%200%200%201-1.232%201.442c-.55.355-1.218.532-2.002.532-.71%200-1.346-.163-1.911-.49zm30.78-9.246v3.857h2.378c.567%200%201.035-.19%201.406-.572.38-.38.57-.832.57-1.357%200-.514-.19-.962-.57-1.342-.37-.39-.84-.586-1.406-.586h-2.378zm0%205.214v4.473h-1.42V1.131h3.767c.958%200%201.77.32%202.44.956.68.638%201.02%201.414%201.02%202.33%200%20.935-.34%201.717-1.02%202.344-.659.627-1.473.94-2.44.94h-2.347v.001zm7.242%202.159c0%20.37.157.68.471.926.314.247.682.37%201.104.37.597%200%201.13-.221%201.598-.663.469-.442.702-.961.702-1.557-.443-.35-1.06-.525-1.853-.525-.577%200-1.058.14-1.443.417-.386.278-.58.62-.58%201.032m1.839-5.49c1.05%200%201.878.28%202.486.84.608.56.911%201.33.911%202.306v4.658h-1.359v-1.049h-.062c-.586.864-1.37%201.296-2.347%201.296-.834%200-1.531-.247-2.092-.74-.561-.494-.842-1.111-.842-1.851%200-.782.296-1.404.888-1.866.592-.463%201.382-.695%202.37-.695.844%200%201.539.154%202.084.463v-.324c0-.494-.196-.913-.586-1.257a2.013%202.013%200%200%200-1.374-.517c-.794%200-1.42.334-1.884%201.003l-1.251-.787c.69-.987%201.709-1.48%203.058-1.48m11.195.246l-4.741%2010.89h-1.467l1.76-3.81-3.119-7.08h1.544l2.255%205.43h.03l2.193-5.43z%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20d%3D%22M107.7%206.738c0-.447-.037-.878-.109-1.29h-5.99v2.444h3.43a2.938%202.938%200%200%201-1.268%201.928v1.588h2.048c1.199-1.106%201.89-2.74%201.89-4.67%22%20fill%3D%22%234285F4%22%2F%3E%3Cpath%20d%3D%22M101.6%2012.94c1.715%200%203.158-.563%204.21-1.532l-2.047-1.588c-.57.383-1.304.607-2.163.607-1.657%200-3.064-1.116-3.566-2.62h-2.11v1.636a6.354%206.354%200%200%200%205.676%203.496%22%20fill%3D%22%2334A853%22%2F%3E%3Cpath%20d%3D%22M98.034%207.808a3.81%203.81%200%200%201%200-2.43V3.745h-2.11a6.307%206.307%200%200%200-.677%202.85%206.3%206.3%200%200%200%20.677%202.849l2.11-1.635z%22%20fill%3D%22%23FABB05%22%2F%3E%3Cpath%20d%3D%22M101.6%202.759c.936%200%201.775.322%202.437.952l1.814-1.81C104.749.875%20103.314.246%20101.6.246a6.354%206.354%200%200%200-5.677%203.497l2.11%201.635c.502-1.504%201.909-2.62%203.566-2.62%22%20fill%3D%22%23E94235%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  min-width: 182px;
}

[lang=ru] .googlepay.long {
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22155%22%20height%3D%2216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M3.192%2011.531a4.997%204.997%200%200%201-1.869-1.897%205.294%205.294%200%200%201-.679-2.646c0-.961.226-1.841.679-2.639a5.064%205.064%200%200%201%201.869-1.897c.793-.467%201.675-.7%202.646-.7.97%200%201.85.233%202.639.7a5.213%205.213%200%200%201%202.555%204.536c0%20.961-.226%201.843-.679%202.646a4.997%204.997%200%200%201-1.869%201.897c-.793.462-1.675.693-2.646.693-.97%200-1.853-.231-2.646-.693zm4.466-1.281c.55-.317.985-.758%201.302-1.323.317-.565.476-1.211.476-1.939s-.159-1.374-.476-1.939a3.444%203.444%200%200%200-1.302-1.323%203.58%203.58%200%200%200-1.82-.476%203.58%203.58%200%200%200-1.82.476c-.55.317-.987.758-1.309%201.323-.322.565-.483%201.211-.483%201.939s.161%201.374.483%201.939a3.494%203.494%200%200%200%201.309%201.323%203.58%203.58%200%200%200%201.82.476%203.58%203.58%200%200%200%201.82-.476zm4.994-5.39h6.328V12h-1.54V6.288h-3.248V12h-1.54V4.86zm7.92%207.14l.014-1.372c.15.047.303.07.462.07.205%200%20.364-.068.476-.203.112-.135.191-.362.238-.679.047-.317.07-.765.07-1.344V4.86h6.132V12h-1.498V6.26h-3.15v2.646c0%202.137-.667%203.206-2.002%203.206-.308%200-.555-.037-.742-.112zm10.146-.077a2.247%202.247%200%200%201-.938-.854%202.365%202.365%200%200%201-.336-1.253c0-.737.278-1.32.833-1.75.555-.43%201.258-.644%202.107-.644.42%200%20.798.04%201.134.119.336.08.602.166.798.259v-.364c0-.439-.163-.796-.49-1.071-.327-.275-.747-.413-1.26-.413-.364%200-.707.08-1.029.238a2.018%202.018%200%200%200-.777.658l-1.078-.826c.317-.439.728-.78%201.232-1.022a3.822%203.822%200%200%201%201.68-.364c1.036%200%201.834.254%202.394.763s.84%201.225.84%202.149V12h-1.512v-.854h-.07a2.416%202.416%200%200%201-.868.77%202.629%202.629%200%200%201-1.288.308c-.513%200-.97-.1-1.372-.301zm2.646-1.239a1.938%201.938%200%200%200%20.952-1.68%203.134%203.134%200%200%200-.749-.294%203.49%203.49%200%200%200-.889-.112c-.579%200-1.003.114-1.274.343a1.11%201.11%200%200%200-.406.889c0%20.327.126.595.378.805.252.21.579.315.98.315.373%200%20.71-.089%201.008-.266zm6.058-4.396h-2.268V4.86h6.09v1.428h-2.282V12h-1.54V6.288zm5.26-1.428h1.54v3.486l-.07%201.344h.07l3.36-4.83h1.54V12h-1.54V8.514l.07-1.344h-.07L46.222%2012h-1.54V4.86zm10.146%201.428H52.56V4.86h6.09v1.428h-2.282V12h-1.54V6.288zm5.26-1.428h1.498v2.422h1.988c.485%200%20.924.098%201.316.294.392.196.7.474.924.833.224.36.336.772.336%201.239%200%20.467-.112.877-.336%201.232-.224.355-.532.63-.924.826a2.9%202.9%200%200%201-1.316.294h-3.486V4.86zm3.43%205.838c.327%200%20.6-.096.819-.287.22-.191.329-.446.329-.763a.984.984%200%200%200-.329-.77%201.184%201.184%200%200%200-.819-.294h-1.932v2.114h1.932zM75.2%209.41c-.43.252-1.003.378-1.722.378-.56%200-1.052-.117-1.477-.35a2.489%202.489%200%200%201-.987-.966%202.784%202.784%200%200%201-.35-1.4V4.86h1.568v2.156c0%20.43.135.765.406%201.008.27.243.64.364%201.106.364.299%200%20.574-.035.826-.105.252-.07.462-.175.63-.315V4.86h1.54V12H75.2V9.41zm4.791%202.324a3.453%203.453%200%200%201-1.302-1.351c-.313-.574-.469-1.22-.469-1.939%200-.681.152-1.314.455-1.897a3.578%203.578%200%200%201%201.267-1.393c.541-.345%201.157-.518%201.848-.518.719%200%201.342.159%201.869.476.527.317.929.751%201.204%201.302.275.55.413%201.171.413%201.862%200%20.13-.014.294-.042.49H79.76c.056.663.292%201.174.707%201.533.415.36.898.539%201.449.539.439%200%20.819-.1%201.141-.301.322-.2.581-.474.777-.819l1.302.616a3.836%203.836%200%200%201-1.316%201.386c-.541.336-1.19.504-1.946.504-.7%200-1.328-.163-1.883-.49zm3.717-4.144a1.78%201.78%200%200%200-.238-.749%201.703%201.703%200%200%200-.637-.623c-.285-.168-.632-.252-1.043-.252-.495%200-.912.147-1.253.441-.34.294-.576.688-.707%201.183h3.878zm3.062-2.73h1.47v.938h.07c.205-.327.509-.602.91-.826a2.738%202.738%200%200%201%201.358-.336c.644%200%201.227.163%201.75.49.523.327.936.777%201.239%201.351.303.574.455%201.225.455%201.953s-.152%201.379-.455%201.953a3.467%203.467%200%200%201-1.239%201.351%203.235%203.235%200%200%201-1.75.49c-.504%200-.957-.112-1.358-.336-.401-.224-.705-.495-.91-.812h-.07l.07.994v2.954h-1.54V4.86zm4.634%205.656a2.13%202.13%200%200%200%20.784-.84c.196-.364.294-.78.294-1.246%200-.467-.098-.88-.294-1.239a2.144%202.144%200%200%200-.784-.833%202.006%202.006%200%200%200-2.093%200%202.162%202.162%200%200%200-.777.833c-.196.36-.294.772-.294%201.239%200%20.467.098.882.294%201.246.196.364.455.644.777.84a2.006%202.006%200%200%200%202.093%200zm5.547%201.218a3.453%203.453%200%200%201-1.302-1.351c-.313-.574-.469-1.22-.469-1.939%200-.681.152-1.314.455-1.897a3.578%203.578%200%200%201%201.267-1.393c.541-.345%201.157-.518%201.848-.518.719%200%201.342.159%201.869.476.527.317.929.751%201.204%201.302.275.55.413%201.171.413%201.862%200%20.13-.014.294-.042.49H96.72c.056.663.292%201.174.707%201.533.415.36.898.539%201.449.539.439%200%20.819-.1%201.141-.301.322-.2.581-.474.777-.819l1.302.616a3.836%203.836%200%200%201-1.316%201.386c-.541.336-1.19.504-1.946.504-.7%200-1.328-.163-1.883-.49zm3.717-4.144a1.78%201.78%200%200%200-.238-.749%201.703%201.703%200%200%200-.637-.623c-.285-.168-.632-.252-1.043-.252-.495%200-.912.147-1.253.441-.34.294-.576.688-.707%201.183h3.878zm4.056%204.298a3.942%203.942%200%200%201-1.302-.952l.994-.98c.588.616%201.232.924%201.932.924.448%200%20.807-.089%201.078-.266.27-.177.406-.41.406-.7a.836.836%200%200%200-.343-.679c-.229-.182-.539-.273-.931-.273h-1.12V7.786h1.05c.327%200%20.6-.082.819-.245.22-.163.329-.394.329-.693%200-.243-.114-.453-.343-.63-.229-.177-.534-.266-.917-.266a2.4%202.4%200%200%200-.924.168c-.27.112-.527.294-.77.546l-.966-.924a3.52%203.52%200%200%201%201.176-.84c.42-.177.915-.266%201.484-.266.513%200%20.978.093%201.393.28.415.187.74.439.973.756.233.317.35.667.35%201.05%200%20.728-.303%201.246-.91%201.554v.084c.373.159.663.383.868.672.205.29.308.616.308.98%200%20.681-.27%201.22-.812%201.617-.541.397-1.274.595-2.198.595a3.89%203.89%200%200%201-1.624-.336zm29.717-9.4v3.857h2.378c.567%200%201.035-.19%201.406-.572.38-.38.57-.832.57-1.357%200-.514-.19-.962-.57-1.342-.37-.39-.84-.586-1.406-.586h-2.378zm0%205.214v4.473h-1.42V1.131h3.767c.958%200%201.77.32%202.44.956.68.638%201.02%201.414%201.02%202.33%200%20.935-.34%201.717-1.02%202.344-.659.627-1.473.94-2.44.94h-2.347v.001zm7.242%202.159c0%20.37.157.68.471.926.314.247.682.37%201.104.37.597%200%201.13-.221%201.598-.663.469-.442.702-.961.702-1.557-.443-.35-1.06-.525-1.853-.525-.577%200-1.058.14-1.443.417-.386.278-.58.62-.58%201.032m1.839-5.49c1.05%200%201.878.28%202.486.84.608.56.911%201.33.911%202.306v4.658h-1.359v-1.049h-.062c-.586.864-1.37%201.296-2.347%201.296-.834%200-1.531-.247-2.092-.74-.561-.494-.842-1.111-.842-1.851%200-.782.296-1.404.888-1.866.592-.463%201.382-.695%202.37-.695.844%200%201.539.154%202.084.463v-.324c0-.494-.196-.913-.586-1.257a2.013%202.013%200%200%200-1.374-.517c-.794%200-1.42.334-1.884%201.003l-1.251-.787c.69-.987%201.709-1.48%203.058-1.48m11.195.246l-4.741%2010.89h-1.467l1.76-3.81-3.119-7.08h1.544l2.255%205.43h.03l2.193-5.43z%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20d%3D%22M128.7%206.738c0-.447-.037-.878-.109-1.29h-5.99v2.444h3.43a2.938%202.938%200%200%201-1.268%201.928v1.588h2.048c1.199-1.106%201.89-2.74%201.89-4.67%22%20fill%3D%22%234285F4%22%2F%3E%3Cpath%20d%3D%22M122.6%2012.94c1.715%200%203.158-.563%204.21-1.532l-2.047-1.588c-.57.383-1.304.607-2.163.607-1.657%200-3.064-1.116-3.566-2.62h-2.11v1.636a6.354%206.354%200%200%200%205.676%203.496%22%20fill%3D%22%2334A853%22%2F%3E%3Cpath%20d%3D%22M119.034%207.808a3.81%203.81%200%200%201%200-2.43V3.745h-2.11a6.307%206.307%200%200%200-.677%202.85%206.3%206.3%200%200%200%20.677%202.849l2.11-1.635z%22%20fill%3D%22%23FABB05%22%2F%3E%3Cpath%20d%3D%22M122.6%202.759c.936%200%201.775.322%202.437.952l1.814-1.81C125.749.875%20124.314.246%20122.6.246a6.354%206.354%200%200%200-5.677%203.497l2.11%201.635c.502-1.504%201.909-2.62%203.566-2.62%22%20fill%3D%22%23E94235%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  min-width: 203px;
}


[lang=zh-Hant] .googlepay.long {
  background-image: url('data:image/svg+xml,%3Csvg%20width%3D%22108%22%20height%3D%2217%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M4.788%202.836h3.514V1.52h1.33v1.316h3.766V4.11H9.632v1.106h3.234v4.158h-3.29c-.112%201.148-.322%202.058-.644%202.716%201.344.686%202.87%201.064%204.578%201.148l-.322%201.274c-1.904-.126-3.57-.588-5.012-1.4-.756.714-1.932%201.176-3.528%201.4l-.574-1.204c1.316-.112%202.296-.434%202.926-.952a11.676%2011.676%200%200%201-2.072-2.002l1.022-.7a9.059%209.059%200%200%200%201.806%201.708c.224-.532.392-1.19.476-1.988H5.18V5.216h3.122V4.11H4.788V2.836zm6.832%205.348V6.392H9.632v1.792h1.988zm-3.318%200V6.392H6.426v1.792h1.876zM2.044%207.106A28.01%2028.01%200%200%201%20.84%208.52L.406%207.092c1.372-1.624%202.38-3.514%203.024-5.684l1.26.588a17.25%2017.25%200%200%201-1.302%203.052v9.422H2.044V7.106zm15.27-.504v2.142h3.22V6.602h-3.22zm-.07%203.374c-.168%201.764-.686%203.22-1.554%204.368l-1.022-.91c.84-1.204%201.274-2.73%201.302-4.578v-6.86h10.738v10.542c0%201.05-.546%201.582-1.61%201.582h-1.61l-.35-1.302c.546.042%201.05.07%201.526.07.448%200%20.686-.28.686-.826V9.976h-3.472v3.99h-1.344v-3.99h-3.29zm8.106-1.232V6.602h-3.472v2.142h3.472zm0-3.36v-2.1h-3.472v2.1h3.472zm-4.816-2.1h-3.22v2.1h3.22v-2.1zM83.528%201.38l1.372.644a15.533%2015.533%200%200%201-1.204%202.758v9.702H82.24V6.98c-.42.532-.882%201.064-1.372%201.568l-.476-1.512c1.414-1.596%202.464-3.486%203.136-5.656zm1.484%202.996h5.012V1.562h1.47v2.814h1.904v1.428h-1.904v7.014c0%201.05-.518%201.582-1.54%201.582h-2.1l-.336-1.428c.672.056%201.316.098%201.932.098.378%200%20.574-.21.574-.616v-6.65h-5.012V4.376zm1.498%202.646c1.008%201.204%201.792%202.268%202.352%203.164l-1.246.868c-.574-.98-1.344-2.086-2.31-3.29l1.204-.742zm8.27-4.368h2.814V1.506h1.372v1.148h2.422v1.26h-2.422v.826h2.1v1.218H95.27V4.74h2.324v-.826H94.78v-1.26zm.952%204.06h4.9v1.26h-4.9v-1.26zm-.854%201.96h6.664v1.26h-2.59v3.178c0%20.868-.476%201.316-1.428%201.316H96.39l-.294-1.316c.336.056.658.084.966.084.336%200%20.518-.154.518-.434V9.934h-2.702v-1.26zm.896%201.708l1.148.238c-.308%201.064-.728%201.988-1.274%202.758l-1.078-.686c.574-.728.98-1.498%201.204-2.31zm4.774-.14c.308.63.588%201.302.84%202.016l-1.12.504a15.857%2015.857%200%200%200-.854-2.142l1.134-.378zm1.974-8.68l1.33.224a25.14%2025.14%200%200%201-.28%201.778h3.612v.882a44.442%2044.442%200%200%201-.686%203.514l-1.344-.378c.252-.77.462-1.68.63-2.716h-2.506c-.322%201.148-.728%202.072-1.204%202.744l-1.106-.798c.798-1.26%201.316-3.01%201.554-5.25zm.98%204.242h1.316c0%20.924-.042%201.792-.126%202.576.574%202.058%201.568%203.71%202.996%204.956l-.966%201.12a11.401%2011.401%200%200%201-2.464-3.78c-.448%201.54-1.4%202.814-2.87%203.85l-.882-1.064c1.288-.924%202.128-2.03%202.52-3.346.308-1.106.462-2.548.476-4.312zM52.526%202.635v4.083h2.518c.6%200%201.096-.202%201.488-.605.403-.402.605-.882.605-1.437%200-.544-.202-1.018-.605-1.422-.392-.413-.888-.62-1.488-.62h-2.518zm0%205.52v4.736h-1.504V1.198h3.99c1.013%200%201.873.337%202.582%201.012.72.675%201.08%201.497%201.08%202.466%200%20.991-.36%201.819-1.08%202.482-.697.665-1.559.996-2.583.996h-2.485v.001zm7.668%202.287c0%20.392.166.718.499.98.332.26.722.391%201.168.391.633%200%201.196-.234%201.692-.701.497-.469.744-1.019.744-1.65-.469-.37-1.123-.555-1.962-.555-.61%200-1.12.148-1.528.442-.409.294-.613.657-.613%201.093m1.946-5.815c1.112%200%201.989.297%202.633.89.642.594.964%201.408.964%202.442v4.932h-1.439v-1.11h-.065c-.622.914-1.45%201.372-2.486%201.372-.882%200-1.621-.262-2.215-.784-.594-.523-.891-1.176-.891-1.96%200-.828.313-1.486.94-1.976s1.463-.735%202.51-.735c.892%200%201.629.163%202.206.49v-.344c0-.522-.207-.966-.621-1.33a2.132%202.132%200%200%200-1.455-.547c-.84%200-1.504.353-1.995%201.062l-1.324-.834c.73-1.045%201.81-1.568%203.238-1.568m11.853.262l-5.02%2011.53H67.42l1.864-4.034-3.302-7.496h1.635l2.387%205.749h.032l2.322-5.75z%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20d%3D%22M46.448%207.134c0-.473-.04-.93-.116-1.366h-6.344v2.588h3.634a3.11%203.11%200%200%201-1.344%202.042v1.68h2.169c1.27-1.17%202.001-2.9%202.001-4.944%22%20fill%3D%22%234285F4%22%2F%3E%3Cpath%20d%3D%22M39.988%2013.7c1.816%200%203.344-.595%204.459-1.621l-2.169-1.681c-.603.406-1.38.643-2.29.643-1.754%200-3.244-1.182-3.776-2.774h-2.234v1.731a6.728%206.728%200%200%200%206.01%203.703%22%20fill%3D%22%2334A853%22%2F%3E%3Cpath%20d%3D%22M36.212%208.267a4.034%204.034%200%200%201%200-2.572V3.964h-2.234a6.678%206.678%200%200%200-.717%203.017c0%201.085.26%202.11.717%203.017l2.234-1.731z%22%20fill%3D%22%23FABB05%22%2F%3E%3Cpath%20d%3D%22M39.988%202.921c.992%200%201.88.34%202.58%201.008v.001l1.92-1.918c-1.165-1.084-2.685-1.75-4.5-1.75a6.728%206.728%200%200%200-6.01%203.702l2.234%201.731c.532-1.592%202.022-2.774%203.776-2.774%22%20fill%3D%22%23E94235%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  min-width: 156px;
}


section {
  padding: 1em 0;
}
div {
  margin: 0.5em 0;
}
button {
  margin-top: 0.5em;
  margin-right: 0.5em;
}


/* Formulario de pago */
.tablaCompra{
  margin: 100;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 20px 20px 20px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 75%;
  margin:auto;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/* tabla en pago */

#cartpay table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cartpay table img {
  width: 35px;
}

#cartpay table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cartpay table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cartpay table td:nth-child(3) {
  width: 100px;
  text-align: center;
}

#cartpay table td:nth-child(4),
#cartpay table td:nth-child(5),
#cartpay table td:nth-child(6) {
  width: 100px;
  text-align: center;
}

#cartpay table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cartpay table thead {
  border: 1px solid #606063;
  border-left: none;
  border-right: none;
}

#cartpay table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}

#cartpay table tbody tr td {
  padding-top: 15px;
}

#cartpay table tbody td {
  font-size: 13px;
}

#cartpay-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

